.skeleton-card{
    width: 300px;
	height: 350px;
    background: #5e5e5e9d;
    border: 1px solid #575757;
    border-radius: 1rem;
}
@media screen and (max-width: 1700px) {
	.skeleton-card {
		width: 250px;
		height: 300px;
	}
}
@media screen and (max-width: 1280px) {
	.skeleton-card {
		width: 200px;
		height: 250px;
	}
}

@media screen and (max-width: 1024px) {
	.skeleton-card {
		width: 250px;
		height: 300px;
	}
}
@media screen and (max-width: 870px) {
	.skeleton-card {
		width: 225px;
		height: 275px;
	}
}
@media screen and (max-width: 540px) {
	.skeleton-card {
		width: 175px;
		height: 225px;
		&:hover {
			border-color: transparent !important;
		}
	}
}
@media screen and (max-width: 400px) {
	.skeleton-card {
		width: 150px;
		height: 200px;
	}
}
