.genre {
    color: var(--color-primary-350);
    padding: 0.35rem 0.75rem;
    font-size: 14px;
    border-radius: 0.5rem;
    background: linear-gradient(90deg, #45454575 0%, #b8b8b817 100%);
    box-shadow: 1px 1px 1px 1px #23222294;

    &:hover {
        background: linear-gradient(90deg, #45454575 0%, #b8b8b833 100%);
    }
}
