@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@theme {
    --color-primary-100: #eeeeee;
    --color-primary-150: #abb2be;
    --color-primary-200: #7d8593;
    --color-primary-250: #c1d1ed;
    --color-primary-300: #d8dee9;
    --color-primary-350: #d0d0d0;
    --color-success: #29cf7f;
    --color-warning: #fcbe4e;
    --color-danger: #fb6a75;
    --color-dark: #262626;
}

@keyframes fadeIn {
    0% {
        transform: translateY(-1rem);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideInLeft {
    0% {
        transform: translateX(-3rem);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInRight {
    0% {
        transform: translateX(2rem);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@layer utilities {
    .animate-fade-in {
        animation: fadeIn 0.75s ease-in-out;
    }
}

@layer utilities {
    .animate-slide-in-left {
        animation: slideInLeft 0.75s ease-in-out;
    }
}

@layer utilities {
    .animate-slide-in-right {
        animation: slideInRight 1s ease-in-out;
    }
}

html,
body {
    width: 100%;
    height: 100%;
    background: #0f1216;
    color: var(--color-primary-100);
    font-weight: 400;
    font-style: normal;
}

::-webkit-scrollbar {
    border-radius: 0.25rem;
    -webkit-appearance: none;
    width: 15px;
    background-color: rgb(56, 54, 54);

}

::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background-color: rgb(90, 84, 84);
}

::-webkit-scrollbar-thumb:hover {
    cursor: grab;
}

.underlineEffect {
    position: relative;
    /* Ensures the pseudo-element is positioned relative to this element */
    display: flex;
    /* Needed if you want the underline effect to work on inline elements */
    border-bottom: none;
    /* Removes any existing bottom border */
    cursor: pointer;
}

.underlineEffect::after {
    content: '';
    /* Required for ::after to work */
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0px;
    width: 0;
    /* box-shadow: 0 0 1px #383232a6, 0 0 2px #383232a6, 0 0 7px #383232a6; */
    background-color: #40506e2d;
    border-radius: 0.25rem;
    transition: width 300ms ease-in-out;
    /* Smooth expand effect */
}

.underlineEffect:hover::after {
    width: 100%;
    height: 100%;
}

.underlineEffectLine {
    position: relative;
    /* Ensures the pseudo-element is positioned relative to this element */
    display: flex;
    /* Needed if you want the underline effect to work on inline elements */
    border-bottom: none;
    /* Removes any existing bottom border */
    cursor: pointer;
}

.underlineEffectLine::after {
    content: '';
    /* Required for ::after to work */
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 0;
    box-shadow: 0 0 1px #FFF, 0 0 2px #FFF, 0 0 7px #FFF;
    background-color: rgb(255, 255, 255);
    border-radius: 0.25rem;
    transition: width 300ms ease-in-out;
}

.underlineEffectLine:hover::after {
    width: 100%;
}

.text-shadow {
    text-shadow: 0 0 1px #ffffff70, 0 0 2px #ffffff99, 0 0 7px #ffffffa6;
}

.box-shadow {
    box-shadow: 0 0 1px #FFF, 0 0 2px #FFF, 0 0 7px #FFF;
}

.glass {
    background: #50474714;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1.7px);
    -webkit-backdrop-filter: blur(1.7px);
    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

.text-gradient {
    background: -webkit-linear-gradient(0deg, #eee, #464854);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
