@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@theme {
    --color-primary-100: #eeeeee;
    --color-primary-150: #abb2be;
    --color-primary-200: #7d8593;
    --color-primary-250: #c1d1ed;
}

html,
body {
    width: 100%;
    height: 100%;
    background: #0a0c0f;
    color: var(--color-primary-100);
    font-weight: 400;
    font-style: normal;
}

.underlineEffect {
    position: relative;
    /* Ensures the pseudo-element is positioned relative to this element */
    display: flex;
    /* Needed if you want the underline effect to work on inline elements */
    border-bottom: none;
    /* Removes any existing bottom border */
    cursor: pointer;
}

.underlineEffect::after {
    content: '';
    /* Required for ::after to work */
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 0;
    box-shadow: 0 0 1px #FFF, 0 0 2px #FFF, 0 0 7px #FFF;
    background-color: rgb(255, 255, 255);
    transition: width 300ms ease-in-out;
    /* Smooth expand effect */
}

.underlineEffect:hover::after {
    width: 100%;
}

.text-shadow {
    text-shadow: 0 0 1px #FFF, 0 0 2px #FFF, 0 0 7px #FFF;
}

.box-shadow {
    box-shadow: 0 0 1px #FFF, 0 0 2px #FFF, 0 0 7px #FFF;
}

.glass {
    /* From https://css.glass */
    background: rgba(0, 0, 0, 0.24);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.7px);
    -webkit-backdrop-filter: blur(9.7px);
    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}
