.card {
    padding: 0;
    border: 0;
    background: transparent;
    padding: 0.25rem 0;
}

.cardContent {
    padding: 2px;
    transition-duration: 200ms;
    position: relative;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
    box-shadow: 1px 1px 7px 2px #000000;
    border-radius: 0.75rem;
}
