.tab {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 8px;
    padding: 12px 20px;
    transition-duration: 300ms;
    background-color: rgba(77, 83, 94, 0.23);

    &:hover {
        background-color: rgba(77, 83, 94, 0.35);
    }
}

.submit-button {
    background: linear-gradient(90deg, #45454544 0%, #b8b8b831 100%);
    box-shadow: 1px 1px 1px 1px #23222294;
    border-radius: 6px;
    align-self: center;
    font-size: 14px;
    justify-content: center;
    gap: 8px;
    display: flex;
    transition-duration: 200ms;
    padding: 12px 28px;
    width: max-content;

    &:active {
        transform: scale(.95);
    }

}
