.button {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border-radius: 0.5rem;
    transition-duration: 75ms;
}

.button:hover {
    background: #ffffff12;
    cursor: pointer;

    Image {
        transition-duration: 700ms;
        transform: scale(1.1);
    }
}

.button:active {
    transform: scale(.98);
}
