.description {
    color: #d8dee9;
    font-size: 1.75rem;
    line-height: 35px;
    letter-spacing: -1px;
    padding: 2rem 2.5rem;
    position: relative;
    bottom: 10rem;
    text-align: start;
    border-radius: 0.75rem;
}

@media screen and (max-width: 1300px) {
    .description {
        bottom: 7.5rem;
        line-height: 35px;
        font-size: 1.55rem;
    }
}

@media screen and (max-width: 1130px) {
    .description {
        bottom: 5.5rem;
        line-height: 30px;
        width: 100%;
    }
}

@media screen and (max-width: 930px) {
    .description {
        /* bottom: 3rem; */
        font-size: 1.35rem;
        padding: 0 3rem;
        line-height: 25px;
    }
}

@media screen and (max-width: 780px) {
    .description {
        bottom: 5rem;
        font-size: 1.15rem;
        padding: 0;
    }
}

@media screen and (max-width: 600px) {
    .description {
        /* font-size: 0.9rem; */
        letter-spacing: 0px;
        line-height: 18px;
        font-size: 1.05rem;
    }
}

@media screen and (max-width: 500px) {
    .description {
        bottom: 3rem;

    }
}
