.description {
    color: #d8dee9;
    font-size: 1.75rem;
    line-height: 35px;
    letter-spacing: -1px;
    padding: 2rem 2.5rem;
    position: relative;
    bottom: 10rem;
    text-align: start;
    border-radius: 0.75rem;
    background: linear-gradient(0deg, rgb(21 20 20 / 24%) 9%, rgba(15, 18, 22, 0) 35%) !important
}

.container-bg {
    background:
        linear-gradient(#0f1216 7%, #0f121600 45%, #0f1216 72%), linear-gradient(90deg, #0f1216 0%, #0f121600 50%, #0f1216 100%)
}

@media screen and (max-width: 1300px) {
    .description {
        bottom: 7.5rem;
        line-height: 35px;
        font-size: 1.55rem;
    }
}

@media screen and (max-width: 1130px) {
    .description {
        bottom: 5.5rem;
        line-height: 30px;
        width: 100%;
    }
}

@media screen and (max-width: 930px) {
    .description {
        /* bottom: 3rem; */
        font-size: 1.35rem;
        /* padding: 0 3rem; */
        line-height: 25px;
    }
}

@media screen and (max-width: 780px) {
    .description {
        bottom: 5rem;
        font-size: 1.15rem;
        padding: 2rem 1.5rem;
    }
}

@media screen and (max-width: 640px) {
    .description {
        /* font-size: 0.9rem; */
        letter-spacing: 0px;
        line-height: 18px;
        padding: 2rem 1.25rem;
        font-size: 1.05rem;
    }
}

@media screen and (max-width: 500px) {
    .description {
        bottom: 3rem;
        padding: 2rem 1rem;
    }
}
