.description {
    color: #d8dee9;
    font-size: 2.25rem;
    line-height: 50px;
    letter-spacing: 0px;
    padding: 2rem 2.5rem;
    position: relative;
    bottom: 10rem;
    text-align: center;
    border-radius: 0.75rem;
    background: linear-gradient(0deg, #2422221a 9%, #ffffff00 35%) !important
}

.container-bg {
    background:
        linear-gradient(#0f1216 7%, #0f121600 45%, #0f1216 72%), linear-gradient(90deg, #0f1216 0%, #0f121600 50%, #0f1216 100%)
}

@media screen and (max-width: 1300px) {
    .description {
        bottom: 7.5rem;
        line-height: 45px;
        font-size: 2rem;
    }
}

@media screen and (max-width: 1130px) {
    .description {
        bottom: 5.5rem;
        line-height: 40px;
        font-size: 1.85rem;
        width: 100%;
    }
}

@media screen and (max-width: 930px) {
    .description {
        font-size: 1.65rem;
        line-height: 35px;
    }
}

@media screen and (max-width: 780px) {
    .description {
        bottom: 5rem;
        font-size: 1.5rem;
        line-height: 33px;
        padding: 2rem 1.5rem;
    }
}

@media screen and (max-width: 640px) {
    .description {
        padding: 2rem 1.25rem;
        font-size: 1.4rem;
        line-height: 31px;
    }
}

@media screen and (max-width: 500px) {
    .description {
        bottom: 2rem;
        padding: 2rem 1rem;
        font-size: 1.35rem;
        line-height: 29px;
    }
}
